@model Roazhon_Fest.Models.EvenementViewModel

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/accueilConvive.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light alert alert-info mt-4 mb-4 mx-auto col-11 shadow">
            <form class="form-inline mx-auto">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Go</button>
            </form>
            <!-- <button class="btn btn-outline-info ml-auto" type="button">Ajouter</button> -->
            @Html.ActionLink("Evenements", "Index", null, new { @class = "decoration-none" })
            <button class="btn btn-outline-danger ml-auto" type="button"><img src="~/Content/logout.png" width="24px" /></button>
        </nav>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4 class="mt-5">Ajouter un événement</h4>
        <hr class="mb-5 col-11"/>
        <div class="form-horizontal mx-auto col-11" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.45);">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-5 mx-auto mt-5">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-5 mx-auto mt-5">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                    <div class="">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", type="textarea" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5 mx-auto">
                    @Html.LabelFor(model => model.Duree, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Duree, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Duree, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-5 mx-auto">
                    @Html.LabelFor(model => model.Lieu, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Lieu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lieu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5 mx-auto">
                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-5 mx-auto">
                    @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @*@Html.EditorFor(model => model.Theme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })*@
                        @Html.DropDownListFor(model => model.Theme.ID, Model.themes, "Sélectionnez un thème", new { @class = "form-control" })
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Créer" class="btn btn-default my-5" />
                    </div>
                </div>
            </div>
            }

        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/index.js"></script>
</body>
</html>
