@model Roazhon_Fest.Models.EvenementViewModel

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/accueilConvive.css" />
</head>
<body>


    <nav class="navbar navbar-light alert alert-info mt-5 mb-4 mx-auto col-11 shadow">
        <form class="form-inline mx-auto">
            <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Go</button>
        </form>
        <!-- <button class="btn btn-outline-info ml-auto" type="button">Ajouter</button> -->
        @Html.ActionLink("Evenements", "Index", null, new { @class = "btn btn-warning" })
        <button class="btn btn-outline-danger ml-auto" type="button"><img src="~/Content/logout.png" width="24px" /></button>
    </nav>
    <div class="container col-11">
        <div class="row">
            <div>
                <h2 class="mt-4">@Html.DisplayFor(model => model.Nom)</h2>
                <h6 class="ml-auto">@Html.DisplayFor(model => model.Lieu)</h6>
            </div>
        </div>
        <hr class="mt-5 mb-5" />
        <div class="row mt-3 mb-3">
            <div class="">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Description</div>
                    <div class="card-body text-dark">
                        <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                    </div>
                </div>
                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                </div>

                <dt>
                    @Html.DisplayNameFor(model => model.Duree)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Duree)
                </dd>

                <hr />
                <div class="row mt-3">
                    <div class="ml-3">@Html.ActionLink("Modifier", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })</div>
                    <div class="ml-2">@Html.ActionLink("X", "Edit", null, new { @class = "btn btn-danger", id = Model.ID })</div>
                </div>
            </div>
            <div class="ml-auto mb-5" id="googleMap" style="width:60%;height:400px;"></div>
        </div>


        @{
        var lieu = @ViewData["Lieu"];
        }
        <div class="">
            <div id="destinationForm" class="mb-5">
                <form action="" method="get" name="direction" id="direction">
                    <div class="my-3" style="display: flex; justify-content: center; flex-wrap: wrap;">
                        <input type="text" placeholder="Départ" name="origin" id="origin" class="form-control mx-1">
                        <input type="text" placeholder="Destination" name="destination" id="destination" class="form-control mx-1" value="@Html.DisplayFor(model => model.Lieu)">
                        <input type="button" class="btn btn-primary mx-1" value="Calculer l'itinéraire" onclick="javascript:calculate()">
                    </div>
                </form>
            </div>
            <div class="row mt-5">
                <div id="panel" style="width:48%;height:460px;overflow: scroll;"></div>
                <table id="PTable" class="table" style="width: 50%;overflow: scroll; height:460px">
                    <thead>
                        <tr>
                            <th>
                                Parking
                            </th>
                            <th>
                                Places
                            </th>
                        </tr>
                    </thead>
                    <tbody id='bodyT'>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG1YsUa6hRRT6uY-ZX8gJXuxWwm-Iwx3A&callback=myMap"></script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Scripts/googlemap.js"></script>
    <script type="text/javascript" src="~/Scripts/parking.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>